* {
    margin: 0;
    padding: 0;
}
.buyButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: none;
}
.buyBtn {
    outline: none;
    transition: 0.4s ease-in-out;
    color: white;
    padding-right: 1rem;
    border-radius: 10px;
    padding-left: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    background-color: transparent;
}
.buyBtn:hover {
    background: whitesmoke;
    color: black;
}